{erl_opts, [
    debug_info
]}.

{minimum_otp_vsn, "27"}.

{deps, [
    {rosie_rclerl, {git, "https://github.com/rosie-project/rosie_rclerl.git", {branch, "main"}}}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [ro2erl_bridge, runtime_tools]}
]}.

{profiles, [
    {test, [
        {deps, [meck]},
        {eunit_opts, [verbose]}
    ]}
]}.
