[
    {ro2erl_bridge, [
        %% Define the callback module that will handle messages from the hub
        %% Can be {Module, Function} or {Module, Function, Args}
        %% {dispatch_callback, {my_app, handle_message}}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
